@using System.Web.UI.WebControls
@model CommentDownloader.Models.InputViewModel

@{
    ViewBag.Title = "Youtube downloader";
   
}

<h2>YouTube Downoad</h2>
@using(Html.BeginForm("Comment", "Comment"))
{ 
    <div class="form-group">
        @Html.TextBoxFor( m=>m.InputUrl, new{@id ="urlTxt",@placeholder="Enter URL...", @class ="form-control"})
    </div>
    <input type="submit" class="btn btn-primary" name="name" value="Submit" />
}