@using CommentDownloader.Models
@using Microsoft.Ajax.Utilities
@model CommentDownloader.Models.InputViewModel

@{
    ViewBag.Title = "Notify";
}

<h2>Notify</h2>
@if (!InputViewModel.ErrorMessage.IsNullOrWhiteSpace())
{
    @: <h3>@InputViewModel.ErrorMessage</h3>
}

else
{
    if (Model.CommentLength.Equals(0))
     {
         @: <h3> No Comment on this Link</h3>
     }
     else
     {
         <h3>@Model.CommentLength Comments Export to root folder </h3>
     }

}



